[Desktop Entry]
Encoding=UTF-8
Name=Google SketchUp 8
Comment=PlayOnLinux
Type=Application
Exec=/usr/share/playonlinux/playonlinux --run "Google SketchUp 8" %F
Icon=/var/POL/icones/full_size/Google SketchUp 8
Name[fr_FR]=Google SketchUp 8
StartupWMClass=SketchUp.exe
Categories=
